/*algemene properties*/

* {
	box-sizing: border-box;
  }

  body {
      margin: 0px;
  }

  .column {
    float: left;
    width: 33.33%;
    background-color: none;
    height: 40px;
    text-align: center;
    padding-top: 7px;
  }
  
  .column a {
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 15%;
    padding: 10px;
    text-align: center;
  }
  
  /* Clear floats after the columns */
.content {
    margin-top: 40px;
}

  #row:after {
    content: "";
    display: table;
    clear: both;
  }

  h1 {
      margin-bottom: 1000px;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
  }


  
